.account_list{
    width: 60%;
    margin: 0px auto;
    /* border: 2px solid black; */
    padding-top: 50px;
    box-sizing: border-box;
 }
 .table_shadow{
     margin: 0px auto;
     /* border: 3px solid red; */
     width: 60%;
     box-shadow:0 0 10px rgba(0, 55, 236, 0.15);
     border-radius: 10px;
     overflow:hidden;
 }
 .table_shadow td, .table_shadow th{
     padding: 10px;
     text-align: center;
 }
 .table_shadow thead{
     background-color: #60a5f3;
     color: #fff;
 }

 /*가상 선택자!!! nth-child()*/
 .table_shadow tbody tr:nth-child(even) {
     background-color: #e8f4fd;
 }