.main_list{
    width: 50%;
    /* border: 1px solid black; */
}
.main_title{
    height: 5%;
    width: 90%;
    margin: 35px auto;
    border-bottom: 1px solid black;
}
.main_title span{
    font-size: 35px;
}
.product_list{
    height: 85%;
    width: 90%;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue;
    margin: 0px auto;
}
.product_list_main{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.product_rate{
    width: 20%;
    height: 100%;
    padding: 7px;
    box-sizing: border-box;
}
.product_rate_circle{
    border-radius: 50%;
    width: 90%;
    height: 100%;
    border: 2px solid rgb(187, 187, 187);
    margin: 0px auto;
}
.product_rate_circle > div{
    height: 100%;
    font-size: 35px;
    text-align: center;
    line-height: 100%;
    font-weight: bold;
    padding-top: 45px;
    box-sizing: border-box;
}
.product_name{
    width: 65%;
    height: 100%;
    border-right: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    padding: 20px;
    box-sizing: border-box;
}
.product_name > div{
    font-size: 20px;
    line-height: 100%;
    font-weight: bold;
}
.product_detail{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content:center;
    padding-top: 60px;
}
