.contents_right_list{
	width: 70%;
	box-sizing: border-box;
	margin:30px auto;
}
.table_shadow{
    width: 100%;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow:hidden;
}
.table_shadow td, .table_shadow th{
    padding: 10px;
    text-align: center;
}
.table_shadow thead{
    background-color: #333;
    color: #fff;
}

/*가상 선택자!!! nth-child()*/
.table_shadow tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}