<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/form.css">
</head>
<body>
    <div class="info">
        <h2>test</h2>
        <form>
            <fieldset class="info_box">
                <legend>ID</legend>
                <input type="text">
            </fieldset>
            <fieldset class="info_box">
                <legend>password</legend>
                <input type="password">
            </fieldset>

            <fieldset>
                <legend>스포츠</legend>
                <label for="p1">야구</label>
                <input type="checkbox" id="p1">

                <label for="p2">농구</label>
                <input type="checkbox" id="p2">

                <label for="p3">축구</label>
                <input type="checkbox" id="p3">

                <label for="p4">배구</label>
                <input type="checkbox" id="p4">
            </fieldset>
            <input type="submit" id="submit">
        </form>
    </div>
</body>
</html>