<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheet" href="/resources/css/reset.css">
    <link rel="styleSheet" href="/resources/css/layout.css">
    <link rel="styleSheet" href="/resources/css/detail.css">
</head>
<body>
    <header class="header">
        <div class="header_center">
            <div class="logo">
                <img src="/resources/images/shihan_bank_logo.svg.@ERESIZE@.preview.png">
            </div>
            <div class="sign">
                <ul>
                    <li><a href="/WEB-INF/views/users/join.jsp">로그인</a></li>
                    <li><a href="/WEB-INF/views/users/login.jsp">회원가입</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav class="menu">
        <div class="menu_list">
            <ul>
                <li>금융상품</li>
                <li>조회</li>
                <li>이체</li>
            </ul>
        </div>

    </nav>
    <section class="main">
        <div class="main_detail">
            <div class="main_title">
                <span>상품안내</span>
                <a href="/products/update.do">수정하기</a>
            </div>
            <div class="product_detail">
                <div class="product_detail_detailBox">
                    <div class="product_detail_name">
                        <span>신한 알.쏠 적금</span>
                    </div>
                    <div class="product_detail_detail">
                        <span>원하는 가입 기간을 선택하여 월 납입 한도 내 신규와 입금이 자유롭고, 거래 실적에 따라 우대이자율을 제공하는 적금</span>
                    </div>
                </div>
                <div class="product_detail_rateBox">
                    <div class="product_detail_rateImg"><img src="/resources/images/free-icon-passbook-9236169.png"></div>
                    <div class="product_detail_rate"><span>2.8%</span></div>
                </div>
            </div>
            
            <a href="#" class="btn">가입하기</a>
            
        </div>
        
    </section>
</body>
</html>