<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheet" href="/resources/css/reset.css">
    <link rel="styleSheet" href="/resources/css/layout.css">
</head>
<body>
    <header class="header">
        <div class="header_center">
            <div class="logo">
                <img src="/resources/images/shihan_bank_logo.svg.@ERESIZE@.preview.png">
            </div>
            <div class="sign">
                <ul>
                    <li><a href="/WEB-INF/views/users/join.jsp">로그인</a></li>
                    <li><a href="/WEB-INF/views/users/login.jsp">회원가입</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav class="menu">
        <div class="menu_list">
            <ul>
                <li>금융상품</li>
                <li>조회</li>
                <li>이체</li>
            </ul>
        </div>

    </nav>
    <section class="main">
        <img src="/resources/images/shinhan.jpg">
    </section>
</body>
</html>